<div class="container first-search">
  <div class="title"> 
    <h3>Search GitHub User</h3>
  </div>

  <div class="search-form">
    <%= form_tag(search_path, 
                :method => "get", 
                :class=>"form-inline my-2 my-lg-0") do %>
      <%= text_field_tag :search, 
                          params[:search], 
                          placeholder: "Search profiles", 
                          class: "form-control mr-sm-2" %>

        <span class="input-group-btn">
          <%= submit_tag "Search", class: 'btn-sucess btn-info' %>
        </span>
    <% end %>
  </div>

  <% if !@login.nil? %>
    <div class="display-info">
      <p>🎉 &nbsp; Great. We found a user called: <strong><%= @login %></strong></p>
      <p>🎯 &nbsp; User URL is: <strong><%= @url %></strong></p> 
      <p>🗂 &nbsp; Number of public repos: <strong><%= @repos %></strong></p> 
    </div>

    <%= form_tag(profiles_path, :method => "post", :class=>"form-inline my-2 my-lg-0") do %>
        <span class="input-group-btn">
          <%= submit_tag "Save", class: 'btn-danger btn-info' %>
        </span>
    <% end %>

  <% else %>
    <p><i><%= @err %></i></p>
  <% end %>

  <div class="table-users">
        <table>
          <tr>
            <th>Login</th>
            <th>URL</th>
            <th>Repos</th>
          </tr>
        </table>
      <% if !@profiles.nil? && @profiles.count > 0 %>
        <% @profiles.each do |profile| %>
        <tr>
            <td><%= profile.login%></td>
            <td><%= profile.url%></td>
            <td><%= profile.repos%></td>
          </tr>
      <% end %>
    <% end %>
  </div>
</div>

